.header{
    background: #f4faff;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 0 0px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 5px; /* space between menu items */
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 8px 12px;
    transition: color 0.3s ease;
  }
  
  nav a.active {
    color: #4d00eb; /* active route color */
  }
  
  nav a:hover {
    color: #4d00eb;
  }
  
  .menu img {
    max-height: 80px;
  }